---
/** biome-ignore-all lint/correctness/noUnusedImports: false positive */
import { Code } from 'astro:components';
import HeroSection from '../components/HeroSection.astro';
import UsageExample from '../components/examples/UsageExample.astro';
import ParamsExample from '../components/examples/ParamsExample.astro';
import PositionsExample from '../components/examples/PositionsExample.astro';
import Layout from '../layouts/Layout.astro';
import ThemeExample from '../components/examples/ThemeExample.astro';
import TypesExample from '../components/examples/TypesExample.astro';
import FullcolorExample from '../components/examples/FullcolorExample .astro';

const usageExampleOne = `<wc-beru></wc-beru>
<div id="app">
  <button id="btn">Push me</button>
</div>
`;

const usageExampleTwo = `import { toast } from 'wc-beru';

const button = document.getElementById('btn')

button.addEventListener('click', () => {
  toast.display('Hello world from WcBeru')
})`;

const optionalParamsExample = `toast.display('Hi Jhon', {
    description: 'This is a message from wc-beru',
    closeButton: true,
    beruId: 'my-toast'
})`;

const fullcolorExample = `<wc-beru fullcolor></wc-beru>`;

const multipleToastsExampleOne = `<wc-beru id="first" position="bottom-right"></wc-beru>
<wc-beru id="second" position="bottom-left"></wc-beru>`;

const multipleToastsExampleTwo = `toast.display('Hello from wc-beru', {
    description: 'This is a message from wc-beru',
    beruId: 'second'
})`;
---

<Layout>
	<wc-beru></wc-beru>
	<wc-beru id="beru-position"></wc-beru>
	<wc-beru id="beru-theme" theme="light"></wc-beru>
	<wc-beru id="beru-fullcolor" fullcolor></wc-beru>
	<wc-beru id="beru-multiply"></wc-beru>
	<HeroSection></HeroSection>
	<section class="container">
		<h2>Uso</h2>
		<p>Una vez instalado, debes ubicarte en tu <span>index.html</span> y usar la etiqueta <span>wc-beru</span>.</p>
		<Code code={usageExampleOne} theme="catppuccin-latte" lang="html"></Code>
		<p>Asumiendo que ya existe una etiqueta <span>wc-beru</span> en nuestro <span>index.html</span> procedemos a usar el siguiente bloque de código:</p>
		<Code code={usageExampleTwo} theme="catppuccin-latte" lang="js"></Code>
		<p>Al importar <span>toasts</span>, este por si mismo detecta si hay una instancia de nuestro elemento <span>wc-beru</span>.</p>
		<p>En el ejemplo de arriba llamamos a un método <span>display</span>, este nos permite renderizar  nuestro toast; inténtalo tu mismo: </p>
		<UsageExample>
		</UsageExample>
		<p>Cabe resaltar que <span>display</span> no es el único método disponible, <span>toast</span> ofrece otros métodos semánticos con diferentes estilos; mas adelante los conocerás.</p>
	</section>
	<section class="container">
		<h2>Parámetros opcionales</h2>
		<p>Los métodos que ofrece <span>toast</span>, como <span>display</span>, pueden recibir unos parámetros opcionales  aparte del mensaje principal, aquí un ejemplo de ello:</p>
		<Code code={optionalParamsExample} theme="catppuccin-latte" lang="js"></Code>
		<ul>
			<li><span>description</span> (string), nos permite dar mas contexto al mensaje principal.</li>
			<li><span>closeButton</span> (boolean), renderiza un botón para eliminar el toast.</li>
			<li><span>beruId</span> (string), renderiza el toast en una instancia de <span>wc-beru</span> especifica; mas adelante veremos un ejemplo.</li>
		</ul>
		<ParamsExample></ParamsExample>
	</section>
	<section class="container">
		<h2>Posiciones</h2>
		<p>Nuestro elemento <span>wc-beru</span> recibe un atributo <span>position</span>, dicho atributo nos permite indicar en que posición queremos que se renderize nuestro toast y solo existen seis posibles valores los cuales conocerás a continuación:</p>
		<PositionsExample></PositionsExample>
	</section>
	<section class="container">
		<h2>Tema</h2>
		<p><span>wc-beru</span> además posee un atributo <span>theme</span> el cual recibe dos posibles valores <span>light</span> (valor por defecto) y <span>dark</span>, permitiendo cambiar de modo claro a oscuro o viceversa al momento de renderizar el toast.</p>
		<ThemeExample></ThemeExample>
	</section>
	<section class="container">
		<h2>Tipos</h2>
		<p>Anteriormente mencione sobre otros métodos que ofrece <span>toast</span>; en su totalidad  ofrece cinco, incluyendo <span>display</span>. Aquí te dejo una demostración usando los otros métodos disponibles:</p>
		<TypesExample></TypesExample>
	</section>
	<section class="container">
		<h2>Colores enriquecidos</h2>
		<p><span>wc-beru</span> recibe un atributo <span>fullcolor</span>, que fuerza al toast a usar colores basados en su tipo, mejorando así su propósito visual.</p>
		<Code code={fullcolorExample} theme="catppuccin-latte" lang="html"></Code>
		<FullcolorExample></FullcolorExample>
	</section>
	<section class="container">
		<h2>Multiples instancias de wc-beru</h2>
		<p>Como aprendimos anteriormente, los métodos de <span>toast</span> reciben un objeto como segundo parámetro que nos permite, añadir mas contexto, renderizar un botón de cierre y el que veremos en estos momentos, el <span>beruId</span>. Este nos facilita escoger en que instancia de <span>wc-beru</span> queremos renderizar nuestro toast, a continuación te dejo un ejemplo:</p>
		<Code code={multipleToastsExampleOne} theme="catppuccin-latte" lang="html"></Code>
		<p>Ahora bien, si no especificamos en que instancia queremos renderizar nuestro toast, este tomara por defecto el primer elemento <span>wc-beru</span> que encuentre. Suponiendo que queremos renderizar el toast en nuestro elemento con el identificador <span>second</span>, procedemos a usar nuestro <span>beruId</span>:</p>
		<Code code={multipleToastsExampleTwo} theme="catppuccin-latte" lang="js"></Code>
	</section>
</Layout>

<script>
	import { toast } from "wc-beru"

	// Usage section example
	const usageButton = document.getElementById('usageButton')

	usageButton?.addEventListener('click', () => {
		toast.display('👋 Hi! from wc-beru')
	})

	// Optional params secion example
	const optionalParamsButton = document.getElementById('optional-params')

	optionalParamsButton?.addEventListener('click', () => {
		toast.display('Hi Jhon', {
			description: 'This is a message from wc-beru',
			closeButton: true
		})
	})

	// Positoins section example
	const positionButtonsContainer = document.getElementById('positions')

	function renderToaster(position: string) {
		const toaster = document.createElement('wc-beru')
		toaster.setAttribute('id', 'beru-position')
		toaster.setAttribute('position', position)
		
		document.body.insertBefore(toaster, document.body.firstChild)
	}

	positionButtonsContainer?.addEventListener('click', (e) => {
		const toaster = document.getElementById('beru-position')

		if ((e.target as Element).id === 'position-top-left') {
			toaster?.remove()
			renderToaster('top-left')
			toast.display('Hello from top-left', {
				beruId: 'beru-position'
			})
		
		}
		if ((e.target as Element).id === 'position-top-center') {
			toaster?.remove()
			renderToaster('top-center')
			toast.display('Hello from top-center', {
				beruId: 'beru-position'
			})
		}
		if ((e.target as Element).id === 'position-top-right') {
			toaster?.remove()
			renderToaster('top-right')
			toast.display('Hello from top-right', {
				beruId: 'beru-position'
			})
		}

		if ((e.target as Element).id === 'position-bottom-left') {
			toaster?.remove()
			renderToaster('bottom-left')
			toast.display('Hello from bottom-left', {
				beruId: 'beru-position'
			})
		
		}
		if ((e.target as Element).id === 'position-bottom-center') {
			toaster?.remove()
			renderToaster('bottom-center')
			toast.display('Hello from bottom-center', {
				beruId: 'beru-position'
			})
		
		}
		if ((e.target as Element).id === 'position-bottom-right') {
			toaster?.remove()
			renderToaster('bottom-right')
			toast.display('Hello from bottom-right', {
				beruId: 'beru-position'
			})
		}
	})

	// Theme section example
	const switchThemeButton = document.getElementById('switch-theme')
	const themeButton = document.getElementById('theme')

	switchThemeButton?.addEventListener('click', () => {
		const toaster = document.getElementById('beru-theme')
		switchThemeButton.classList.toggle('active')

		if (toaster?.getAttribute('theme') === 'light') {
			toaster.setAttribute('theme', 'dark')
			return
		}

		if (toaster?.getAttribute('theme') === 'dark') {
			toaster.setAttribute('theme', 'light')
			return
		}

	})

	themeButton?.addEventListener('click', () => {
		toast.display('Welcome to wc-beruland', {
			description: 'This is my new toast',
			beruId: 'beru-theme'
		})
	})

	// Types section example
	const typeButtonsContainer = document.getElementById('types')

	typeButtonsContainer?.addEventListener('click', (e) => {
		
		if ((e.target as Element).id === 'btn-default') {
			toast.display('Hi! I am default', {
				description: 'This is a default toast'
			})
		}

		if ((e.target as Element).id === 'btn-success') {
			toast.success('Hi! I am success', {
				description: 'This is a success toast'
			})
		}

		if ((e.target as Element).id === 'btn-warning') {
			toast.warning('Hi! I am warning', {
				description: 'This is a warning toast'
			})
		}

		if ((e.target as Element).id === 'btn-info') {
			toast.info('Hi! i am info', {
				description: 'This is a info toast'
			})
		}

		if ((e.target as Element).id === 'btn-error') {
			toast.error('Hi! I am error', {
				description: 'This is a error toast'
			})
		}
	})

	// Fullcolor section example
	const fullcolorButtonsContainer = document.getElementById('fullcolor')

	fullcolorButtonsContainer?.addEventListener('click', (e) => {
		
		if ((e.target as Element).id === 'btn-default') {
			toast.display('Hi! I am default', {
				description: 'This is a default toast',
				beruId: 'beru-fullcolor'
			})
		}

		if ((e.target as Element).id === 'btn-success') {
			toast.success('Hi! I am success', {
				description: 'This is a success toast',
				beruId: 'beru-fullcolor'
			})
		}

		if ((e.target as Element).id === 'btn-warning') {
			toast.warning('Hi! I am warning', {
				description: 'This is a warning toast',
				beruId: 'beru-fullcolor'
			})
		}

		if ((e.target as Element).id === 'btn-info') {
			toast.info('Hi! i am info', {
				description: 'This is a info toast',
				beruId: 'beru-fullcolor'
			})
		}

		if ((e.target as Element).id === 'btn-error') {
			toast.error('Hi! I am error', {
				description: 'This is a error toast',
				beruId: 'beru-fullcolor'
			})
		}
	})
</script>